<div class="content">
    <h1 class="contentheader">
        Posts
    </h1>

    <div class="contentcontent">
        {{#if post}}
        {{#each post}}
            <div class="blogpost">
                <div class="blogheader">
                    <h2>
                        <a class="link" href="/post/{{id}}">{{title}}</a>
                    </h2>
                    <div class="bloginfo">
                        Posted by {{User.username}} on {{format_date createdAt}}
                    </div>
                </div>

                <div class="blogbody">
                    {{body}}
                </div>
            </div>
        {{/each}}
        {{/if}}
    </div>
</div>

